.main-content .jumbotron {
  background-color: rgb(205, 241, 252);
}
.main-content .jumbotron .display-4 {
  font-weight: 1000;
  font-family: monospace;
  font-variant: small-caps;
  border-radius: .75rem;
  color: darkslateblue !important;
}
.wave {
  display: flex;
  align-items: center;
  justify-content: center;
}