.intro-container {
  background-color: #1d4e69;
  background-image: url(https://static.npmjs.com/images/hero-cityscape.svg);
  background-position: left bottom;
  background-size: 110%;
}
.intro-container * {
  color: rgb(244, 244, 244);
}
.intro {
  margin: 0 auto;
}
.intro-h1 {
  padding: 2rem;
}
.intro-p {
  padding: 0 2rem;
}
.intro-p-second {
  padding-bottom: 2rem;
}