.navbar {
  background-color:#f7f7f7;
  padding: 0 3rem;
}

.navbar .navbar-brand img {
  max-width: 3rem;
}

.navbar-nav .nav-item { 
  margin: 1rem;
}

.navbar-nav .nav-item:hover a {
  filter: invert(.4);
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
}
