.react-bootstrap-table
{
  margin: 2rem;
  background-color: white;
}

#next-table > thead:nth-child(1)
{
  word-wrap: break-word;
  margin-bottom: 0;
}

.table-bordered thead td,
.table-bordered thead th,
.table-bordered td,
.table-bordered th {
  text-align: center !important;
  display: flex;
  align-items: center;
  justify-content: center;
  word-break: break-all;
}
thead tr,
tbody tr {
  display: grid;
  grid-area: header;
  grid-template-columns: 27% 22% 15% 16% 10% 10%;
}

.badge {
  font-size: inherit !important;
}

.table-bordered td,
.table-bordered th {
  flex-direction: column;
}

#root
  > div
  > div
  > div
  > div.react-bootstrap-table
  > div.react-bs-table-pagination
  > div {
  justify-content: center;
}

#root
  > div
  > div
  > div
  > div.react-bootstrap-table
  > div.react-bs-table-pagination
  > div
  > div {
  max-width: 25%;
}

@media (max-width: 600px) {
  thead tr,
  tbody tr {
    min-width: 250%;
  }
  .table {
    border: none;
  }
}

@media (max-width: 750px) {
  thead tr,
  tbody tr {
    width: 150%;
  }
  .table {
    border: none;
  }
}

.custom-numberfilter-class {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.custom-comparator-class {
  margin: 0px;
  width: 100%;
}
