.react-bs-table-container {
  margin: 2rem;
  background-color: white;
}

.react-bs-container-header table {
  word-wrap: break-word;
  margin-bottom: 0;
}

.table-bordered thead td,
.table-bordered thead th,
.table-bordered td,
.table-bordered th {
  text-align: center !important;
  display: flex;
  align-items: center;
  justify-content: center;
  word-break: break-all;
}

thead tr,
tbody tr {
  display: grid;
  grid-area: header;
  grid-template-columns: 27% 22% 16% 17% 8% 10%;
}

.badge {
  font-size: inherit !important;
}

.table-bordered td,
.table-bordered th {
  flex-direction: column;
}

#root > div > div > div > div.react-bs-table-container > div.react-bs-table-pagination > div {
  justify-content: center;
}

#root > div > div > div > div.react-bs-table-container > div.react-bs-table-pagination > div > div {
  max-width: 25%;
}

.loading-container {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid black;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: black transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 