body {
  margin: 0;
  padding: 0;
  font-family: "Medium-65", "Helvetica Neue", "Helvetica", Arial, sans-serif
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}